/* ## Colors
   ### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography
### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 */

* {
    /* ### Primary */
    --DarkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /* ### Neutral */
    --VeryDarkBlue: hsl(212, 21%, 14%);
    --DarkGrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    /* font-family */
    --Fraunces: 'Fraunces', serif;
    --Montserrat: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    font-family: var(--Montserrat);
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
picture {
 width: 30rem;
}
img {
    width: 30rem;
    border-radius: 1rem 0 0 1rem;
}
label {
    color: var(--DarkGrayishBlue);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 700;
}
.container {
    background-color: var(--White);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60rem;
}
article {
    padding: 3.5rem;
}
.product-name {
    font-family: var(--Fraunces);
    font-size: 3.2rem;
    margin: 2rem 0 2rem 0;
}
.product-text {
    font-size: 1.4rem;
    color: var(--DarkGrayishBlue);
    padding-bottom: 2.5rem;   
}
.price {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    padding-bottom: 3rem;
}
.actual-price {
    color: var(--DarkCyan);
    font-family: var(--Fraunces);
    font-size: 3rem;
}
.old-price {
    font-family: var(--Fraunces);
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--DarkGrayishBlue);

}
.btn {
    background-image: url(images/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 5rem center;
    width: 100%;
    color: var(--White);
    font-size: 1.4rem;
    font-weight: 700;
    border-style: none;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--DarkCyan)
}
.btn:hover,
.btn:active {
    background-color: var(--VeryDarkBlue);
}
.cart-ico {
    background-image: url(images/icon-cart.svg);
    background-repeat: no-repeat;
}

.attribution a{
    text-decoration: none;
    color: var(--Grayishcyan);
    font-size: 1rem;
}

.attribution {
    font-size: 1rem;
    margin: 2rem 0;
    color: var(--DarkGrayishBlue);
}
